<header class="adminHead">
    <div class="container adminHeader">
        <div class="flex-div">
            <h4 id="headerText">HRMS</h4>
            <div class="profile">
                <img src="./assets/portalAsset/images/avatar3.svg" alt="" />
                <div id="logDiv">
                <h5 id="frontAdminHeader"></h5>
                <div class="logHed"><div class="logoutImg" id="logoutAdm"><img src="/assets/portalAsset/images/logoutSvg.svg" /> logout</div></div>
                </div>
            </div>
        </div>
    </div>
</header>
