<header>
    <div class="container">
        <div class="flex-div">
            <h4 id="headerText">Welcome Board</h4>
            <div class="profile">
                <img src="./assets/portalAsset/images/avatar3.svg" alt="" />
                <div class="logHeadDiv">
                <div class="logHed"><h5 id="frontHomeHeader"></h5><div href='' class="logoutImg" id="logOutHm"><img src="/assets/portalAsset/images/logoutSvg.svg" /> logout</div></div>
                </div>
            </div>
        </div>
    </div>
</header>
