<div class="admleft">
  <h2 class="dash">
    <img
      src="/assets/portalAsset/images/m2plogo.svg"
      class="dashImg"
    />Dashboard
  </h2>
  <div class="adMenu">
    <ul class="dashLink" id="cssmenu">
      <li>
        <a href="/addDetail" class="topnav-item SideActive"><i
            class="fas fa-user-plus"
          ></i>Add Details</a>
      </li>
      <li class="">
        <a href="/viewDetail" class="topnav-item viewDetail"><i
            class="far fa-file-alt"
          ></i>View Details
        </a>
      </li>
      <ul class="dashLink" id="cssmenu">
        <li class="actLi"><a class="slideClick"><i class="fa fa-plus-circle"></i>Add Data
<i class="fa fa-angle-down dropdown_arrow"></i></a>
          <ul class="subMenu">
            <li><a href="/addDepartment" class="topnav-item depart">Add Department</a></li>
            <li><a href="/addDesignation" class="topnav-item desgn">Add Desgination</a></li>
            <li><a href="/addLocation" class="topnav-item loca">Add Location</a></li>
          </ul>
        </li>
      </ul>
    </ul>
  </div>

</div>
