<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Content-Security-Policy" content="default-src 'self'; script-src-elem 'self' 'unsafe-inline' *; 
         script-src 'self' 'unsafe-inline' *;
         connect-src 'self' 'unsafe-inline' *;
         style-src 'self' 'unsafe-inline' pro.fontawesome.com;  
         style-src-elem 'self' 'unsafe-inline' *;
         font-src 'self' 'unsafe-inline' pro.fontawesome.com;
         img-src * ">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/portalAsset/images/Favicon.ico" />
    <link rel="stylesheet" href="./assets/portalAsset/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="./assets/portalAsset/css/style.css" />
    <title>Thank you</title>
</head>
<body class="body-bg">
    <section class="thank-sec">
        <!-- <div class=""> -->
            <div>
                <div class="bg-white">
                    <div class="thank-div">
                        <div>
                            <img class="img-thank" src="./assets/portalAsset/images/thankyou-modal.svg" alt="" />
                        </div>
                        <div class="content-thank">
                            <h4>
                                Thank you for submitting<br /> your details
                            </h4>
                            <p>
                                We can't wait to have you onboard with us!<br />
                                Welcome to the M2P Family.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer-thank">
                    <div>
                        <p>If you need any assistance please feel free to contact our HR team anytime.</p>
                    </div>
                    <div class="contact-div">
                        <p>Contact Person:</p>
                        <p>
                            <span>Please Call us at <a href="tel:+91 9876543210">+91 9876543210</a></span>
                            <span>or write a mail to us at <a href="mailto:hr@m2pfintech.com">hr@m2pfintech.com</a></span>
                        </p>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </section>
    <script>
        setTimeout(()=>{
            window.location.href ='/'
        },15000)
    </script>

<script src="./assets/portalAsset/js/jquery.min.js"></script>
<script src="./assets/portalAsset/js/bootstrap.min.js"></script>
{{!-- <script src="./assets/portalAsset/js/main.js"></script> --}}
</body>
</html>